<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-color: rgb(114, 229, 191);
                }

            h1{
                text-align: center;
                font-size: 60px;
                color: black
            }

            h2{
                text-align: center;
                font-size: 30px;
                color: rgb(18, 4, 91)
            }
        </style>

        <h1>About Page</h1>
        <br>
        <h2>Have you ever been reading an interesting article on medium, that answers many questions you had on a the topic, but can't find similar articles which could help fill any gaps in your knowledge/better inform you on the topic? With this website, you can simply provide a link to an article on medium, and you will find as many similar article links as you would like. Furthermore, you can find the major themes in the similar articles. The most interesting part however comes into effect when you explore heatmaps that detail word relationships created by the model (explored further in the methods page).</h2>
    </head>
</html>