<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-color: rgb(152, 204, 241);
                }
                
            h1{
                text-align: center;
                font-size: 60px;
                color: black
            }

            h2{
                text-align: center;
                font-size: 30px;
                color: rgb(18, 4, 91)
            }
        </style>

        <h1>Future Ideas Page</h1>
        <br>
        <h2>There are many things about this website that I would like to improve upon, and these points will be described here. For one, the dataset of articles I use to generate other similar articles is static, so newer articles are unlikely to be included. I would like in the future, to use some sort of database with a constantly updated article set. Additionally, other aspects of the flask html pages weren't designed optimally, and I hope to keep learning so I can improve these.</h2>
    </head>
</html>